--index-url https://pypi.python.org/simple/
amqp==5.0.9
analytics-python==1.2.9
arrow==1.2.2
auth0-python==3.22.0
authlib==0.15.5
bcrypt==3.1.4
billiard==3.6.4.0
boto3==1.20.51
botocore==1.23.51
celery[mongodb]==5.2.3
chardet==3.0.3
click==8.0.4
coloredlogs==14.0
connexion[swagger-ui]==2.14.1
cryptography==39.0.1
datadog==0.44.0
ddtrace==0.57.1
decorator==4.3.2
fabric2==2.6.0
factory_boy==3.2.0
flask-admin==1.6.0
flask-principal==0.4.0
flask==2.3.2
fuzzywuzzy==0.16.0
headless-pdfkit==0.1.5
invoke==1.6.0
ipython
isoweek==1.3.3
jinja2==3.1.2
JSON-log-formatter==0.3.0
jsonschema==4.16.0
kombu==5.2.3
launchdarkly-server-sdk==7.2.0
Levenshtein==0.20.8
lxml==4.9.1
mysql-connector-python==8.0.28
numpy==1.22.4
oauth2==1.9.0.post1
openapi-spec-validator==0.4.0
openexchangerates3==0.1.1
openpyxl==3.0.10
paramiko==2.10.1
pg8000==1.12.4
prance==0.21.8.0
psycopg2-binary==2.8.6
ptvsd==4.1.3
PyJWT==2.4.0
pymongo[srv]==3.12.3
pyotp==2.2.7
python-dateutil==2.8.2
python-Levenshtein==0.20.8
python-slugify==1.2.5
rapidfuzz==2.13.2
requests==2.25.0
rsa==4.7
scipy==1.10.1
SQLAlchemy==1.4.32
swagger-ui-bundle==0.0.9
testing.postgresql==1.3.0
ua-parser==0.16.1
unicodecsv==0.14.1
urllib3==1.26.5
voluptuous==0.13.1
Werkzeug==2.2.3
zxcvbn==4.4.28
pyarrow==10.0.0
XlsxWriter==3.0.8
