###########################################
# Configuration for scanning Maven package#
###########################################
apiKey=b71153a359df4728a5eb5dafc47704e0848b06777659496b9e2296ed2476bd9b
userKey=0167ae6579a14e699d7f697a6f87238f86d4c6d423fb4180a7454cfc235109af
productName=Python
projectName=Case113223-GH_gas_dispersion_LightCode
log.level=debug


###########
# General #
###########
fileSystemScan=false

########################################
# Package Manager Dependency resolvers #
########################################

python.resolveDependencies=true
python.ignoreSourceFiles=true
python.ignorePipInstallErrors=true
python.installVirtualenv=true
#python.resolveHierarchyTree=false
python.requirementsFileIncludes=requirements.txt prod.txt tests.txt
python.resolveSetupPyFiles=true
#python.runPipenvPreStep=true
#python.pipenvDevDependencies=true
python.IgnorePipenvInstallErrors=true
#python.resolveGlobalPackages=true	
#python.localPackagePathsToInstall=/path/to/local/dependency.egg, /path/to/local/dependency.zip	
#python.resolvePipEditablePackages
#python.path=/path/to/python
#python.pipPath=/path/to/pip
python.runPoetryPreStep=true
#python.includePoetryDevDependencies=true