boto3==1.24.90
django==3.2.15
psycopg2-binary==2.9.3
python-dotenv==0.21.0
requests==2.31.0
djangorestframework
djangorestframework-jwt
djangorestframework-camel-case
django-rest-auth
django-guardian
django-pgviews
django-easy-health-check
